<main class="mt-5 pt-4">
    <div class="container dark-grey-text">
        <div class="row wow fadeIn">
            <div class="col-6">
                <img src="{{product?.imgUrl}}" class="img-thumbnail img-fluid" width="250px" alt="">
            </div>
            <div class="col-6">
                <div class="p-4">

                    <div class="mb-3">
                        <a href="javascript:void(0)">
                            <span class="badge purple mr-1">Category 2</span>
                        </a>
                        <a href="javascript:void(0)">
                            <span class="badge blue mr-1">New</span>
                        </a>
                        <a href="javascript:void(0)">
                            <span class="badge red mr-1">Bestseller</span>
                        </a>
                    </div>

                    <p class="lead">
                        <span class="mr-1">
            </span>
                        <span>{{product?.price}} L.E</span>
                    </p>

                    <p class="lead font-weight-bold">{{product?.name}}</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa sint voluptatibus! Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>
                    <div class="row">
                        <button class="btn btn-dark col-3" style="margin-right:20px;margin-left:20px;" (click)="addToCart(product?.id)"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                        <button class="btn btn-dark col-3" style="margin-right:20px;margin-left:20px;" (click)="wishlist(product?.id)"><i class="fas fa-heart"></i> Add wishlist</button>
                    </div>
                </div>

            </div>
        </div>
        <hr>

    </div>
</main>